{
 "Version": "",
 "Regions": {
  "En": {
   "Sdk_Url": "",
   "Sdk_Url_Lb": "",
   "Push_Sdk_Url": "",
   "Sdk_Pid": "",
   "Brand": "",
   "Ali": {
    "Log_Enable": 0,
    "Auto_Detect_Enable": 0,
    "Manual_Detect_Enable": 0,
    "Log": {
     "Endpoint": "",
     "Project": "",
     "Logstore": "",
     "Access_Key_Id": "",
     "Access_Key_Secret": ""
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "",
      "Endpoint": "",
      "Project": "",
      "Access_Key_Id": "",
      "Access_Key_Secret": ""
     },
     "Internet_Url": "",
     "Auto_Url": {
      "HTTP": null,
      "PING": null,
      "TCPPING": null,
      "MTR": null,
      "DNS": null
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  },
  "Kr": {
   "Sdk_Url": "",
   "Sdk_Url_Lb": "",
   "Push_Sdk_Url": "",
   "Sdk_Pid": "",
   "Brand": "",
   "Ali": {
    "Log_Enable": 0,
    "Auto_Detect_Enable": 0,
    "Manual_Detect_Enable": 0,
    "Log": {
     "Endpoint": "",
     "Project": "",
     "Logstore": "",
     "Access_Key_Id": "",
     "Access_Key_Secret": ""
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "",
      "Endpoint": "",
      "Project": "",
      "Access_Key_Id": "",
      "Access_Key_Secret": ""
     },
     "Internet_Url": "",
     "Auto_Url": {
      "HTTP": null,
      "PING": null,
      "TCPPING": null,
      "MTR": null,
      "DNS": null
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  },
  "Jp": {
   "Sdk_Url": "",
   "Sdk_Url_Lb": "",
   "Push_Sdk_Url": "",
   "Sdk_Pid": "",
   "Brand": "",
   "Ali": {
    "Log_Enable": 0,
    "Auto_Detect_Enable": 0,
    "Manual_Detect_Enable": 0,
    "Log": {
     "Endpoint": "",
     "Project": "",
     "Logstore": "",
     "Access_Key_Id": "",
     "Access_Key_Secret": ""
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "",
      "Endpoint": "",
      "Project": "",
      "Access_Key_Id": "",
      "Access_Key_Secret": ""
     },
     "Internet_Url": "",
     "Auto_Url": {
      "HTTP": null,
      "PING": null,
      "TCPPING": null,
      "MTR": null,
      "DNS": null
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  },
  "Tw": {
   "Sdk_Url": "https://jp-sdk-api.yostarplat.com",
   "Sdk_Url_Lb": "https://jp-sdk-api-bk.yostarplat.com",
   "Push_Sdk_Url": "https://sdk-callback.yo-star.com",
   "Sdk_Pid": "TW-NOVA",
   "Brand": "Stargazer",
   "Ali": {
    "Log_Enable": 1,
    "Auto_Detect_Enable": 1,
    "Manual_Detect_Enable": 1,
    "Log": {
     "Endpoint": "https://ap-southeast-1.log.aliyuncs.com",
     "Project": "yostar-oversea-client-logging",
     "Logstore": "yostar-oversea-client-logging",
     "Access_Key_Id": "7b5d0ffd0943f26704fc547a871c68b1b5d56b5c9caeb354205b81f445d7af59",
     "Access_Key_Secret": "4a5e9cc8a50819290c9bfa1fedc79da7c50e85189a05eb462a3d28a7688eabb0"
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "eyJhbGl5dW5fdWlkIjoiMTI5NDA1ODU3MDYyMTk5MCIsImlwYV9hcHBfaWQiOiJMNFFSSG1zNzdqdW5WSGNCWTZVd1ZLIiwic2VjX2tleSI6ImM2YzAxZDZhNTZkZjdlMTY3Yjg2MmFjM2EwYzQ5MTJlN2RmZTRmNjIxMTc1YTZkOGI5ZjcxYWJhYWY2YWNjYmQ2MTg1ZjVmMmYxMTVkMTczNjg5MGRlYWU0Nzg0MTI0NzFmZGNjMmRlOWUwMWMyNmJhOTdmZDA0YTJkM2IxZjUwIiwic2lnbiI6ImQxOGQwZTc0YjFhYWIzZmVlYWNmNDY2ZTYyYjQyMDZmYzA4NWFmMjJiN2ZjODQ1MDYzMjM3MDNlOGVkOGUxNGU5ZWI0ZGM3YjllOTFiNzE3NmUxZTBmYjBhOTU1OWQxMTFhM2QyMzU2YTQyNWQ1YTlkNGI1ZWMxMWQxYjY0NTBjIn0=",
      "Endpoint": "https://ap-southeast-1.log.aliyuncs.com",
      "Project": "yostar-oversea-netsdk-logging",
      "Access_Key_Id": "7b5d0ffd0943f26704fc547a871c68b1b5d56b5c9caeb354205b81f445d7af59",
      "Access_Key_Secret": "4a5e9cc8a50819290c9bfa1fedc79da7c50e85189a05eb462a3d28a7688eabb0"
     },
     "Internet_Url": "https://www.google.com",
     "Auto_Url": {
      "HTTP": [
       "https://nova-static.stargazer-games.com/meta/serverlist.html",
       "https://nova.stargazer-games.com",
       "https://jp-sdk-api.yostarplat.com"
      ],
      "PING": [
       "https://nova-static.stargazer-games.com/meta/serverlist.html",
       "https://nova.stargazer-games.com",
       "https://jp-sdk-api.yostarplat.com"
      ],
      "TCPPING": [
       "https://nova-static.stargazer-games.com/meta/serverlist.html",
       "https://nova.stargazer-games.com",
       "https://jp-sdk-api.yostarplat.com"
      ],
      "MTR": [
       "https://nova-static.stargazer-games.com/meta/serverlist.html",
       "https://nova.stargazer-games.com",
       "https://jp-sdk-api.yostarplat.com"
      ],
      "DNS": [
       "https://nova-static.stargazer-games.com/meta/serverlist.html",
       "https://nova.stargazer-games.com",
       "https://jp-sdk-api.yostarplat.com"
      ]
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 1,
    "Aihelp_Api_Key": "YOSTAR1_app_abf38d0a88924a40ac990b58865fa64d",
    "Aihelp_Domain": "yostar1.aihelp.net",
    "Aihelp_Appid": "yostar1_platform_d5c104cdfab2f7bb8aca44eb772ed734",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 1,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 1,
    "Aihelp_Api_Key": "YOSTAR1_app_abf38d0a88924a40ac990b58865fa64d",
    "Aihelp_Domain": "yostar1.aihelp.net",
    "Aihelp_Appid": "yostar1_platform_9627f8911737fc656741b1d984503dd9",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "714708833202",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 1,
    "Aihelp_Api_Key": "YOSTAR1_app_abf38d0a88924a40ac990b58865fa64d",
    "Aihelp_Domain": "yostar1.aihelp.net",
    "Aihelp_Appid": "yostar1_platform_0f3a2fdbf61ff427d92b6696a0cf8e30",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  },
  "Mn": {
   "Sdk_Url": "",
   "Sdk_Url_Lb": "",
   "Push_Sdk_Url": "",
   "Sdk_Pid": "",
   "Brand": "",
   "Ali": {
    "Log_Enable": 0,
    "Auto_Detect_Enable": 0,
    "Manual_Detect_Enable": 0,
    "Log": {
     "Endpoint": "",
     "Project": "",
     "Logstore": "",
     "Access_Key_Id": "",
     "Access_Key_Secret": ""
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "",
      "Endpoint": "",
      "Project": "",
      "Access_Key_Id": "",
      "Access_Key_Secret": ""
     },
     "Internet_Url": "",
     "Auto_Url": {
      "HTTP": null,
      "PING": null,
      "TCPPING": null,
      "MTR": null,
      "DNS": null
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  }
 },
 "Plist": {
  "Tw": {
   "User_Tracking_Usage_Description": "您同意授權我們存取您裝置的IDFA後，我們將於必要時存取，以便為您提供帳號安全、風控及故障排除服務。",
   "Camera_Usage_Description": "您同意授權我們存取您的相機和相簿後，我們將於必要時存取，以便您使用儲存截圖、上傳圖片等功能。",
   "Micro_phone_Usage_Description": "您同意授權我們存取您的麥克風後，我們將於必要時存取，以便您使用語音功能與我們的產品。",
   "Photo_Library_Description": "您同意授權我們存取您裝置的照片後，我們將於必要時存取，以便您使用下載或上傳圖片/影片的相關服務及功能。",
   "Photo_Library_Add_Usage_Description": "您同意授權我們存取您裝置的照片後，我們將於必要時存取，以便您使用下載或上傳圖片/影片的相關服務及功能。",
   "Location_Description": "您同意授權我們存取您的所在位置後，我們將於必要時存取，以便您搜尋附近的玩家。"
  }
 }
}