{
 "Version": "",
 "Regions": {
  "En": {
   "Sdk_Url": "https://en-sdk-api.yostarplat.com",
   "Sdk_Url_Lb": "https://en-sdk-api-bk.yostarplat.com",
   "Push_Sdk_Url": "https://sdk-callback.yo-star.com",
   "Sdk_Pid": "US-NOVA",
   "Brand": "Yostar",
   "Ali": {
    "Log_Enable": 1,
    "Auto_Detect_Enable": 1,
    "Manual_Detect_Enable": 1,
    "Log": {
     "Endpoint": "https://ap-southeast-1.log.aliyuncs.com",
     "Project": "yostar-oversea-client-logging",
     "Logstore": "yostar-oversea-client-logging",
     "Access_Key_Id": "7b5d0ffd0943f26704fc547a871c68b1b5d56b5c9caeb354205b81f445d7af59",
     "Access_Key_Secret": "4a5e9cc8a50819290c9bfa1fedc79da7c50e85189a05eb462a3d28a7688eabb0"
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "eyJhbGl5dW5fdWlkIjoiMTI5NDA1ODU3MDYyMTk5MCIsImlwYV9hcHBfaWQiOiJMNFFSSG1zNzdqdW5WSGNCWTZVd1ZLIiwic2VjX2tleSI6ImM2YzAxZDZhNTZkZjdlMTY3Yjg2MmFjM2EwYzQ5MTJlN2RmZTRmNjIxMTc1YTZkOGI5ZjcxYWJhYWY2YWNjYmQ2MTg1ZjVmMmYxMTVkMTczNjg5MGRlYWU0Nzg0MTI0NzFmZGNjMmRlOWUwMWMyNmJhOTdmZDA0YTJkM2IxZjUwIiwic2lnbiI6ImQxOGQwZTc0YjFhYWIzZmVlYWNmNDY2ZTYyYjQyMDZmYzA4NWFmMjJiN2ZjODQ1MDYzMjM3MDNlOGVkOGUxNGU5ZWI0ZGM3YjllOTFiNzE3NmUxZTBmYjBhOTU1OWQxMTFhM2QyMzU2YTQyNWQ1YTlkNGI1ZWMxMWQxYjY0NTBjIn0=",
      "Endpoint": "https://ap-southeast-1.log.aliyuncs.com",
      "Project": "yostar-oversea-netsdk-logging",
      "Access_Key_Id": "7b5d0ffd0943f26704fc547a871c68b1b5d56b5c9caeb354205b81f445d7af59",
      "Access_Key_Secret": "4a5e9cc8a50819290c9bfa1fedc79da7c50e85189a05eb462a3d28a7688eabb0"
     },
     "Internet_Url": "https://www.google.com",
     "Auto_Url": {
      "HTTP": [
       "https://nova.stellasora.global",
       "https://en-sdk-api.yostarplat.com",
       "https://nova-static.stellasora.global/meta/serverlist.html"
      ],
      "PING": [
       "https://nova.stellasora.global",
       "https://en-sdk-api.yostarplat.com",
       "https://nova-static.stellasora.global/meta/serverlist.html"
      ],
      "TCPPING": [
       "https://nova.stellasora.global",
       "https://en-sdk-api.yostarplat.com",
       "https://nova-static.stellasora.global/meta/serverlist.html"
      ],
      "MTR": [
       "https://nova.stellasora.global",
       "https://en-sdk-api.yostarplat.com",
       "https://nova-static.stellasora.global/meta/serverlist.html"
      ],
      "DNS": [
       "https://nova.stellasora.global",
       "https://en-sdk-api.yostarplat.com",
       "https://nova-static.stellasora.global/meta/serverlist.html"
      ]
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 1,
    "Aihelp_Api_Key": "YOSTAR1_app_bc226f4419a7447c9de95711f8a2d3d9",
    "Aihelp_Domain": "yostar1.aihelp.net",
    "Aihelp_Appid": "yostar1_platform_4f814abadf227ef5861cc4a807b75fb4",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 1,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 1,
    "Aihelp_Api_Key": "YOSTAR1_app_bc226f4419a7447c9de95711f8a2d3d9",
    "Aihelp_Domain": "yostar1.aihelp.net",
    "Aihelp_Appid": "yostar1_platform_5d7cd8937c261a5342bbd3f8e3952654",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "220750427272",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 1,
    "Aihelp_Api_Key": "YOSTAR1_app_bc226f4419a7447c9de95711f8a2d3d9",
    "Aihelp_Domain": "yostar1.aihelp.net",
    "Aihelp_Appid": "yostar1_platform_2db52a57068b1ee3fe3652c8b53d581b",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  },
  "Kr": {
   "Sdk_Url": "",
   "Sdk_Url_Lb": "",
   "Push_Sdk_Url": "",
   "Sdk_Pid": "",
   "Brand": "",
   "Ali": {
    "Log_Enable": 0,
    "Auto_Detect_Enable": 0,
    "Manual_Detect_Enable": 0,
    "Log": {
     "Endpoint": "",
     "Project": "",
     "Logstore": "",
     "Access_Key_Id": "",
     "Access_Key_Secret": ""
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "",
      "Endpoint": "",
      "Project": "",
      "Access_Key_Id": "",
      "Access_Key_Secret": ""
     },
     "Internet_Url": "",
     "Auto_Url": {
      "HTTP": null,
      "PING": null,
      "TCPPING": null,
      "MTR": null,
      "DNS": null
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  },
  "Jp": {
   "Sdk_Url": "",
   "Sdk_Url_Lb": "",
   "Push_Sdk_Url": "",
   "Sdk_Pid": "",
   "Brand": "",
   "Ali": {
    "Log_Enable": 0,
    "Auto_Detect_Enable": 0,
    "Manual_Detect_Enable": 0,
    "Log": {
     "Endpoint": "",
     "Project": "",
     "Logstore": "",
     "Access_Key_Id": "",
     "Access_Key_Secret": ""
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "",
      "Endpoint": "",
      "Project": "",
      "Access_Key_Id": "",
      "Access_Key_Secret": ""
     },
     "Internet_Url": "",
     "Auto_Url": {
      "HTTP": null,
      "PING": null,
      "TCPPING": null,
      "MTR": null,
      "DNS": null
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  },
  "Tw": {
   "Sdk_Url": "",
   "Sdk_Url_Lb": "",
   "Push_Sdk_Url": "",
   "Sdk_Pid": "",
   "Brand": "",
   "Ali": {
    "Log_Enable": 0,
    "Auto_Detect_Enable": 0,
    "Manual_Detect_Enable": 0,
    "Log": {
     "Endpoint": "",
     "Project": "",
     "Logstore": "",
     "Access_Key_Id": "",
     "Access_Key_Secret": ""
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "",
      "Endpoint": "",
      "Project": "",
      "Access_Key_Id": "",
      "Access_Key_Secret": ""
     },
     "Internet_Url": "",
     "Auto_Url": {
      "HTTP": null,
      "PING": null,
      "TCPPING": null,
      "MTR": null,
      "DNS": null
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  },
  "Mn": {
   "Sdk_Url": "",
   "Sdk_Url_Lb": "",
   "Push_Sdk_Url": "",
   "Sdk_Pid": "",
   "Brand": "",
   "Ali": {
    "Log_Enable": 0,
    "Auto_Detect_Enable": 0,
    "Manual_Detect_Enable": 0,
    "Log": {
     "Endpoint": "",
     "Project": "",
     "Logstore": "",
     "Access_Key_Id": "",
     "Access_Key_Secret": ""
    },
    "Internet_Detection": {
     "Init": {
      "Secret_Key": "",
      "Endpoint": "",
      "Project": "",
      "Access_Key_Id": "",
      "Access_Key_Secret": ""
     },
     "Internet_Url": "",
     "Auto_Url": {
      "HTTP": null,
      "PING": null,
      "TCPPING": null,
      "MTR": null,
      "DNS": null
     }
    }
   },
   "AppStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "GooglePlay": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Amazon": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "PC": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "OneStore": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Samsung": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   },
   "Steam": {
    "FB_AppId": "",
    "FB_ClientToken": "",
    "TW_Key": "",
    "Aihelp_Enable": 0,
    "Aihelp_Api_Key": "",
    "Aihelp_Domain": "",
    "Aihelp_Appid": "",
    "Help_Page_Url": "",
    "Help_Email": "",
    "Pgs_Appid": "",
    "Fcm_Push_Switch": 0,
    "Universal_Link_Domains": "",
    "App_Link": "",
    "Scheme_Url": ""
   }
  }
 },
 "Plist": {
  "En": {
   "User_Tracking_Usage_Description": "We hope that you allow us to track your game data. These data will only be used to identify your device types, improve the security of our services, optimize game features, and deliver personalized ads.",
   "Camera_Usage_Description": "The access to camera is required for you to take photos and videos.",
   "Micro_phone_Usage_Description": "The access is required to take your voice info.",
   "Photo_Library_Description": "The access is required for you to upload and save photos.",
   "Photo_Library_Add_Usage_Description": "The access is required for you to upload and save photos.",
   "Location_Description": "The access is required for you to experience relevant game features."
  }
 }
}